# 株式データを観察する。

この章では `時系列データ` である株式データについて考えて行きます。

### 事前準備

[個別株価データ、株価推移・過去データ・無料CSVダウンロード | 株式投資メモ・株価データベース](https://kabuoji3.com/stock/)からお好きな銘柄を4つダウンロード

In [12]:
import pandas as pd 

stock0 = "/tmp/7201_2018.csv"
stock1 = "/tmp/6758_2018.csv"
stock2 = "/tmp/3436_2018.csv"
stock3 = "/tmp/8306_2018.csv"

df_stock0 = pd.read_csv(stock0, skiprows=[0], encoding='shift-jis', index_col="日付", parse_dates=True)
df_stock1 = pd.read_csv(stock1, skiprows=[0], encoding='shift-jis', index_col="日付", parse_dates=True)
df_stock2 = pd.read_csv(stock2, skiprows=[0], encoding='shift-jis', index_col="日付", parse_dates=True)
df_stock3 = pd.read_csv(stock3, skiprows=[0], encoding='shift-jis', index_col="日付", parse_dates=True)

In [14]:
df_stock1.tail()

              始値    高値    安値    終値       出来高  終値調整値
日付
2018-11-07  6075  6177  6034  6105   7497700   6105
2018-11-08  6280  6298  6207  6259   5730800   6259
2018-11-09  6249  6282  6215  6248   5600100   6248
2018-11-12  6165  6171  6054  6056   5940600   6056
2018-11-13  5754  5928  5735  5893  10609500   5893